:root {
  --background-color: #E7E8E2;
  --titles-color: #1A5E66;
  --section-title: #C95D63;
  --info-background-color: #13474C;
  --info-background-text-color: #D6D9CE;
  --grey-color:#D9D9D9;
}

body {
  background-color: var(--background-color);
  font-family: Kanit;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 24px;
  margin: auto;
  max-width: 1920px;
}

footer {
  background-color: var(--info-background-color);
  height: 400px;
  margin-top: 32px;
  position: relative;
}

footer .btn {
  bottom: initial;
  top: 32px;
}

.head {
  position: relative;
}

.head img {
  display: block;
  width: 100%;
}

.head .title {
  color: var(--titles-color);
  padding-left: 64px;
  padding-top: 128px;
  position: absolute;
  top: 0;
  width: 600px;
}

.head .title .title__main {
  font-weight: 700;
  font-size: 92px;
  line-height: 92px;
}

.head .title .title__sub {
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
}

section.section {
  margin: 32px 0;
}

section.section--ful-margin {
  margin: 32px;
}

.section .section__subtitle {
  background-color: var(--grey-color);
}

.container {
  margin: auto;
  width: 700px;
}

section.section .title {
  font-family: Londrina Shadow;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0%;
  margin-bottom: 32px;
  margin-left: 32px;
}

section.section .subtitle {
  color: var(--section-title);
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

section.section .subtitle .subtitle__caption {
  color: var(--section-title);
  font-weight: 300;
}

section.img-separator img {
  display: block;
  width: 100%;
}

section.section-info {
  position: relative;
}

section.section-info .info-content {
  justify-content: space-around;
  background-color: var(--info-background-color);
  border-radius: 8px;
  color: var(--info-background-text-color);
  display: flex;
  margin: 0 32px;
  text-align: center;
}

.img-separator + section.section-info .info-content {
  position: relative;
  top: -24px;
}

.img-separator + section.section-info .btn {
  bottom: -16px;
}


.info-content .info-content__info {
  margin: 48px 0;
  padding: 0 36px;
  border-left: solid 1px var(--info-background-text-color);
  border-right: solid 1px var(--info-background-text-color);
  width: 100%;
}

.info-content .info-content__info:first-of-type {
  border-left: none;
}

.info-content .info-content__info:last-of-type {
  border-right: none;
}

.info-content .info-content__info__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 32px;
}

.info-content .info-content__info__text {
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}

.mt-32 {
  margin-top: 32px;
}

.pt-164 {
  padding-top: 164px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.included li {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  background-color: #DBAD6A;
  border: 2px solid var(--info-background-color);
  border-radius: 120px;
  bottom: -38px;
  left:0;
  margin: auto;
  padding: 0 32px;
  position: absolute;
  right:0;
  text-align: center;
  width: 156px;
}

.btn span {
  color: var(--titles-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

section.section .content .content-section {
  display: flex;
  width: 100%;
}

section.section .content .content-section:nth-child(even) {
  flex-direction: row-reverse;
}

section.section .content .content-section .content-section__text {
  width: calc(50% + 112px);
  display: flex;
  flex-direction: column;
  margin: 32px;
  flex-shrink: 0;
  justify-content: space-between;
}

section.section .content--bis .content-section .content-section__text {
  justify-content: center;
}

section.section .content--bis .content-section:nth-child(even) .content-section__text {
  display: flex;
  align-items: flex-end;
}

section.section .content--bis .content-section .content-section__text span {
  width: 400px;
}

section.section .content .content-section .content-section__text div:last-of-type {
  max-width: 700px;
}

section.section .content .content-section .content-section__img {
  flex: 1;
}

section.section .content--bis .content-section .content-section__img {
  text-align: center;
}

section.section .content .content-section .content-section__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section.section .content--bis .content-section .content-section__img img {
  border-radius: 50%;
  height: 320px;
  margin-top: -32px;
  width: 320px;
}

.glide {
  width: 100%;
  max-width: 100%; 
}

.glide__slide {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.glide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-device-width : 1024px) {
  .head .title {
    padding-left: 10%;
    padding-top: 5%;
    width: 300px;
  }

  .head .title .title__main {
    font-size: 45px;
    line-height: 54px;
  }
  
  .head .title .title__sub {
    font-size: 32px;
    line-height: 40px;
  }

  section.section .content .content-section,
  section.section .content .content-section:nth-child(even) {
    flex-direction: column;
  }

  section.section .content .content-section .content-section__img img {
    height: 300px;
  }

  section.section .content .content-section .content-section__text {
    align-self: center;
  }

  section.section .section__subtitle .content .content-section .content-section__text {
    display: block;
    width: 100%;
    margin: 0;
  }

  section.section .section__subtitle .content .content-section .content-section__text div {
    width: 100%;
    margin: 32px;
  }

  section.section .content--bis .content-section .content-section__img img {
    width: 200px;
    height: 200px;
    margin: 32px;
  }

  section.section .content--bis .content-section .content-section__text {
    width: calc(100% - 64px);
    margin: 0;
  }

  section.section .content--bis .content-section .content-section__text span {
    align-self: center;
    width: 100%;
  }

  .pt-164 {
    padding: 0;
  }
}

@media only screen and (max-device-width : 768px) {
  section.section-info .info-content {
    flex-direction: column;
  }

  section.section-info .info-content .info-content__info {
    padding: 0;
    border: none;
    margin: 24px 0;
  }

  section.section-info .info-content .info-content__info:last-of-type {
    margin-bottom: 48px;
  }
}